# https://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,cpp,cc,cxx,h,hh,hpp,hxx,mm,m}]
indent_style = space
indent_size = 2
# Matches ColumnLimit in .clang-format
max_line_length = 80
