
name: Version Release Check

on:
  release:
    types: [published]
  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string

env:
  RUST_BACKTRACE: 1
  SHELL: /bin/bash
  CARGO_INCREMENTAL: 0

jobs:
  verify-archive:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { target: aarch64-apple-darwin, os: macos-14 }
          - { target: x86_64-apple-darwin, os: macos-13 }
          - { target: x86_64-unknown-linux-gnu, os: ubuntu-latest }
          - { target: x86_64-pc-windows-msvc, os: windows-latest }
    runs-on: ${{ matrix.platform.os }}
    env:
      RELEASE_TAG: ${{ github.event_name == 'release' && github.ref_name ||  inputs.release-tag }}
      MOZJS_ARCHIVE: libmozjs-${{ matrix.platform.target }}.tar.gz
    steps:
      - uses: actions/checkout@v4
      - name: Download prebuilt mozjs from artifact
        if: ${{ env.RELEASE_TAG == '' }}
        uses: actions/download-artifact@v4
        with:
          name: libmozjs-${{ matrix.platform.target }}.tar.gz
      - name: Download prebuilt mozjs from release
        if: ${{ env.RELEASE_TAG != '' }}
        run: |
          curl -L https://github.com/${{ github.repository_owner }}/mozjs/releases/download/${{ env.RELEASE_TAG }}/libmozjs-${{ matrix.platform.target }}.tar.gz -o libmozjs-${{ matrix.platform.target }}.tar.gz
      - name: Build
        run: |
          cargo build --verbose --features streams
          cargo test --tests --examples --verbose --features streams
